@charset "UTF-8";
html {
    background-color: rgb(116, 116, 116);
}

.itens {
    display: flex;
    justify-content: flex-end;
    grid-area: itens;
}

.item {
    margin: 1rem;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 250px;
    width: auto;
    height: auto;
    margin-top: 80px;
    margin-bottom: 10px;
}

form {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input {
    width: 350px;
    text-align: start;
    border: 0px;
    outline: none;
}

.pesquisa {
    border-radius: 20px;
    background-color: white;
    display: inline-flex;
    padding: 0.8rem 0.6rem;
    align-items: center;
    grid-area: pesquisa;
}

.pesquisa img {
    width: 16px;
    margin: 0 10px;
    cursor: pointer;
}

.favoritos {
    text-align: center;
    display: table;
    height: 350px;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    margin: auto;
    padding: auto;
}

.circle-image1 {
    display: inline-block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-top: 5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.circle-image1 p {
    padding: auto;
    font-size: 13px;
    color: white;
}

.circle-image1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer
}

.rodape {
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}